@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

:root{
    --fonte1: Arial, Helvetica, sans-serif;
    --fonte2: 'Passion One', sans-serif;
    --fonte3: 'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgrey;
    font-family: var(--fonte1);
}
    

header{
    background-color: black;
    color: white;
    text-align: center;
}

/* font-variante: small-caps = letra maiuscula, com a letra primeira maior*/
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;
}

header > p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}
/* usamos padding-top: vh e padding-bottom: vh para da um afastamento par realização do parallax.
line-height: afastamento da linhas.
*/
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3vw;
}

section > p{
    padding-bottom: 2em;
}
section.normal{
    background-color: white;
    color: black;
}

/* box-shadow: inset = sombra de caixa pra dentro*/
section.imagem{
    background-color: rgba(0, 0, 0, 0.562);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473); 
    background-attachment: fixed;
}

/* dispya: inline-block, transforma na caixa que se adapta no conteudo*/
section.imagem > P{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.144);
    padding: 5px;
    text-shadow: 1px 1px 0px black;
}

section#img01{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
    background-size: cover;

}

section#img02{
    background-image: url('../imagens/background002.jpg');
    background-size: cover;

}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}